<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title th:text="${titulo}"> </title>
</head>

<body>
	<h1 th:text="${factura.cliente.nombre + ' ' + factura.cliente.apellidos}"></h1>

	<div th:if="${factura.items.size() == 0}">No hay usuarios</div>
	<div th:if="${factura.items.size() > 0}">
		<table>
			<thead>
			</thead>
			<tr>
				<th>
					Producto
				</th>
				<th>
					Precio
				</th>
				<th>
					Cantidad
				</th>
				<th>
					Total
				</th>
			</tr>
			<tbody>
				<tr th:each="item : ${factura.items}">
					<td th:text="${item.producto.nombre}">
					</td>
					<td th:text="${item.producto.precio}">
					</td>
					<td th:text="${item.cantidad}">
					</td>
					<td th:text="${item.calcularImporte}">
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>